<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.yodo.launcher"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true"/>

    <application
        android:name=".YodoApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAYpz-7ntQwogET5W7wExJcciBhZ9QL1C8"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Accepts URIs that begin with "http://www.yodo.co/” -->
                <data
                    android:host="http://www.yodo.co/"
                    android:pathPrefix="/yodo"
                    android:scheme="http"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="co.yodo.launcher.POS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.RocketActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Rocket"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".ui.RegistrationActivity"
            android:label="@string/title.activity.registration"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title.activity.settings"
            android:theme="@style/AppTheme.Settings"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <!-- Start Services -->

        <service
            android:name=".business.service.LocationService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!-- End Services -->

        <receiver android:name="sunmi.ds.MsgReceiver">
            <intent-filter>
                <action android:name="com.sunmi.hcservice" />
                <action android:name="com.sunmi.hcservice.status" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ds.ShutDownBroadcastRecevier">
            <intent-filter android:priority="1000">
                <action android:name="com.sunmi.action_shutdown_client" />
            </intent-filter>
        </receiver>

    </application>

</manifest>